<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Calculator</title>
    <link href="../static/styles.css" rel="stylesheet">
</head>
<body>
<h1>Web Calculator</h1>
<form id="form">
    <label for="firstNumber">Number 1:</label>
    <input id="firstNumber" name="firstNumber" required type="number">

    <label for="operation">Operation:</label>
    <select id="operation" name="operation" required>
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
        <option value="^">^</option>
    </select>

    <label for="secondNumber">Number 2:</label>
    <input id="secondNumber" name="secondNumber" required type="number">

    <button onclick="calculate()" type="button">Calculate</button>
</form>

<div id="result"></div>
<script src="../static/index.js"></script>
</body>
</html>